body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  background-color: #fff;
  letter-spacing: 1px; 
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

img {
  border: none; }

section,
.main_head {
  position: relative; }

.s_resume {
  padding: 70px 0 60px; }

section {
  padding: 70px 0 90px;
  overflow: hidden; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px;
    letter-spacing: 3px; }
  section h3 {
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #888;
    margin-top: 0;
    margin-bottom: 35px; }

.main_head {
  min-height: 620px;
  padding: 20px;
  padding-top: 40px; }

#page-preloader {
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #222; }
  #page-preloader .spinner {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../img/preloader.gif") no-repeat 50% 50%;
    margin: -64px 0 0 -64px; }

.logo_container {
  float: left; }

.toggle_mnu {
  background-color: #1a1919;
  width: 60px;
  height: 60px;
  float: right;
  position: fixed;
  border: none;
  top: 45px;
  right: 20px;
  z-index: 200; }

.sandwich {
  width: 33px;
  height: 3px;
  position: absolute;
  top: -18px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  display: block; }

.sw-topper {
  position: relative;
  top: 0;
  width: 33px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  display: block; }

.sw-bottom {
  position: relative;
  width: 33px;
  height: 3px;
  top: 6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
  display: block; }

.sw-footer {
  position: relative;
  width: 33px;
  height: 3px;
  top: 12px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
  display: block; }

.toggle_mnu:hover .sw-topper {
  top: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.toggle_mnu:hover .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.toggle_mnu:hover .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 150;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_mnu ul {
    margin-top: 150px;
    text-align: center; }
    .top_mnu ul li:nth-child(1) a {
      -webkit-animation-duration: 0.4s;
      animation-duration: 0.4s; }
    .top_mnu ul li:nth-child(2) a {
      -webkit-animation-duration: 0.8s;
      animation-duration: 0.8s; }
    .top_mnu ul li:nth-child(3) a {
      -webkit-animation-duration: 1.2s;
      animation-duration: 1.2s; }
    .top_mnu ul li:nth-child(4) a {
      -webkit-animation-duration: 1.6s;
      animation-duration: 1.6s; }
    .top_mnu ul li:nth-child(5) a {
      -webkit-animation-duration: 2s;
      animation-duration: 2s; }
    .top_mnu ul a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      -webkit-transition: all 0.75s;
      transition: all 0.75s; }
    .top_mnu ul a:hover {
      color: #FC6D3D;
      background-color: rgba(255, 255, 255, 0.08);
      letter-spacing: 4px; }

.top_wrapper {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10; }
  .top_wrapper h1,
  .top_wrapper p {
    color: #eee;
    text-align: center;
    margin-top: 10px; }
  .top_wrapper h1 {
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.2em;
    background-color: rgba(0, 0, 0, 0.1);
    letter-spacing: 3px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin: 0px 20px; }
  .top_wrapper p {
    margin-top: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1em;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s; }
  .top_wrapper span {
    color: #FC6D3D; }

.bg_light {
  background-color: #eee; }

.bg_dark {
  background-color: #222;
  color: #fff; }

.s_descr_wrapper {
  text-align: center; }
  .s_descr_wrapper .s_descr {
    margin-bottom: 100px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    letter-spacing: 5px; }
    .s_descr_wrapper .s_descr::after {
      content: "";
      width: 150px;
      height: 1px;
      background-color: #888;
      position: absolute;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px; }

.main_footer {
  padding: 15px 0;
  color: #888; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%;
    outline: none; }

.s_about a {
  color: #FC6D3D;
  text-decoration: none;
  outline: none; }
.s_about p {
  margin-bottom: 25px;
  font-size: 13px; }
.s_about p:nth-child(even) {
  color: #FC6D3D; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #888; }
.s_about li {
  margin-bottom: 10px; }

.social_wrap {
  margin-top: 25px; }
  .social_wrap li {
    display: inline-block;
    font-size: 20px;
    color: #555;
    padding: 0 4px;
    list-style-type: none; }

.personal_header {
  font-size: 13px;
  text-align: left;
  letter-spacing: 2px; }

.s_portfolio ul,
.s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  color: #888;
  line-height: 2;
  letter-spacing: 2px; }
  .s_portfolio li.active {
    color: #fff;
    border-bottom: 1px solid #FC6D3D; }
.s_portfolio ul {
  margin-bottom: 50px; }

.portfolio_item {
  display: none;
  margin: 0;
  padding: 10px;
  cursor: pointer;}
  .portfolio_item img {
    width: 100%; }
  .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15px;
    opacity: 0;
    -webkit-transition: all 0.7s;
    transition: all 0.7s; }
    .portfolio_item .port_item_cont a {
      text-decoration: none;
      color: #FC6D3D; }
    .portfolio_item .port_item_cont:active {
      color: #FC6D3D; }
  .portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 20%; }
    .portfolio_item:hover .port_item_cont h3 {
      color: #fff;
      margin-bottom: 0; }
    .portfolio_item:hover .port_item_cont a {
      display: inline-block;
      background-color: transparent;
      border: 1px solid #FC6D3D;
      padding: 4px 12px;
      color: #FC6D3D;
      text-decoration: none; }
    .portfolio_item:hover .port_item_cont p {
      color: #888; }

.port_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  position: relative; }
  .port_descr p,
  .port_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .port_descr h3 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px; }
  .port_descr p {
    margin-top: 0;
    color: #888; }
  .port_descr img {
    width: 100%;
    margin-top: 20px; }

.main_footer p {
  display: inline-block; }
.main_footer a {
  text-decoration: none;
  color: #FC6D3D; }
  .main_footer a:hover {
    text-decoration: none;
    color: #fff; }

.main_footer .social_wrap {
  float: right;
  display: inline-block;
  font-size: 14px;
  margin-top: 0;
  line-height: 0; }
  .main_footer .social_wrap a {
    color: #FC6D3D; }

.contact_box {
  margin-bottom: 30px; }
  .contact_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: 600; }
  .contact_box .contacts_icon {
    font-size: 35px;
    color: #FC6D3D; }
  .contact_box p {
    margin-top: 5px; }

.mail_form .color_element {
  color: #FC6D3D;
  font-size: 20px; }
.mail_form input,
.mail_form textarea {
  border: 1px solid #ccc; }
.mail_form button {
  background-color: #FC6D3D;
  border: none;
  color: #fff;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  float: right;
  letter-spacing: 2px; }
  .mail_form button:hover {
    background-color: #f5450b; }
  .mail_form button:active {
    background-color: #f5450b; }

.form_group {
  display: block;
  color: #888;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px; }
  .form_group input,
  .form_group textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-indent: 11px;
    font-size: 12px;
    background-color: transparent;
    letter-spacing: 2px; }

.s_content .s_item {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 15px; }

.s_icon {
  background-color: #fff; }
  .s_icon h3 {
    margin: 0;
    margin-top: 15px;
    font-weight: 600;
    padding: 0;
    font-size: 22px;
    color: #888; }
  .s_icon .fa {
    font-size: 50px;
    color: #FC6D3D; }
  .s_icon p {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #222;
    background-color: #eee;
    margin: 0;
    padding: 0;
    letter-spacing: 2px; }

.top_wrapper a {
  text-decoration: none; }
.top_wrapper:hover {
  text-decoration: none; }

.order {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #FC6D3D;
  color: #fff;
  text-transform: uppercase;
  line-height: 46px;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
  letter-spacing: 2px; }
  .order:hover {
    color: #fff;
    background-color: #f5450b; }
  .order:focus {
    background-color: #f5450b;
    color: #fff; }

.page_404 {
  text-align: center; }
  .page_404 h1 {
    font-size: 50px;
    color: #888; }
  .page_404 h3 {
    font-size: 20px; }
  .page_404 a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #ccc;
    background-color: #FC6D3D;
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    letter-spacing: 2px; }
    .page_404 a:hover {
      color: #fff;
      background-color: #f5450b;
      text-decoration: none; }
    .page_404 a:focus {
      background-color: #f5450b;
      text-decoration: none;
      color: #fff; }

/*# sourceMappingURL=main.css.map */