// main: style.less

// 1231
@media @notebook {
    .intro-title {
        font-size: 60px;
    }
}

// 991

@media @tablet {
    .intro {
        min-height: 500px;
    }
}
// 769
@media @mobile {
    .nav {
        display: none;
    }
    .nav-btn {
        display: inline-block;
    }
}