@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Raleway-Light";
    src: url("../fonts/Raleway-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  body {
    font-size: 15px;
    color: #888;
    font-weight: 400;
    font-family: "Raleway-Regular", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fefefe;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  a,
  button {
    text-decoration: none;
    background: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    border: 0;
  }
  a:focus,
  button:focus {
    outline: 0;
  }
  ul {
    list-style-type: none;
  }
  .container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1000;
  }
  .modal.show {
    display: block;
  }
  .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1000;
    width: 100%;
    padding: 0 30px;
  }
  .close {
    right: 30px;
    top: 0px;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1000;
    font-size: 20px;
    cursor: pointer;
    background-color: inherit;
  }
  .wrap .contacts__form {
    width: 100%;
  }
  .no-scroll {
    overflow: hidden;
  }
  .header {
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
    width: 100%;
  }
  .header.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.9);
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: relative;
  }
  .logo {
    font-size: 24px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
    cursor: pointer;
    color: #eee;
    transition: color 0.2s linear;
  }
  .logo span {
    color: #fc6d3d;
  }
  .nav {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
  .nav-link {
    display: inline-block;
    color: #eee;
    font-size: 15px;
    margin-left: 20px;
    transition: color 0.2s linear;
    position: relative;
    text-transform: uppercase;
    font-family: "Raleway-Light", sans-serif;
    font-weight: 300;
  }
  .nav-link:hover,
  .nav-link.active {
    color: #fc6d3d;
  }
  .nav-link:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fc6d3d;
    bottom: -5px;
    left: 0;
    z-index: 5;
    width: 0;
    height: 2px;
    transition: width 0.2s linear;
  }
  .nav-link:hover:after {
    width: 100%;
  }
  .nav-btn {
    display: none;
    width: 40px;
    height: 40px;
    font-size: 0;
    color: transparent;
    background-color: #333;
    padding: 6px;
    border-radius: 3px;
  }
  .nav-btn svg {
    fill: #fc6d3d;
    width: 100%;
    height: auto;
    transition: fill 0.2s linear;
  }
  .nav-btn:hover,
  .nav-btn.active {
    text-decoration: none;
  }
  .nav-btn:hover svg,
  .nav-btn.active svg {
    fill: #eee;
  }
  .intro {
    background: url("../images/intro_bg.jpg") center no-repeat;
    background-size: cover;
    min-height: 768px;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .intro:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.8);
  }
  .intro__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .intro-title {
    font-size: 74px;
    line-height: 1.2;
    color: #eee;
    font-weight: 700;
    font-family: "Raleway-Bold", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .intro-subtitle {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color: #eee;
    margin-bottom: 70px;
  }
  .intro-subtitle span {
    color: #fc6d3d;
  }
  .btn {
    background-color: #fc6d3d;
    font-size: 18px;
    padding: 15px 30px;
    color: #eee;
    box-shadow: 0 0 5px #888;
    font-weight: 400px;
    text-transform: uppercase;
    border: 1px solid #888;
    transition: background 0.2s linear;
    border-radius: 3px;
  }
  .btn:hover {
    background-color: #d55327;
  }
  .btn--small {
    font-size: 14px;
    padding: 12px 20px;
  }
  .about_me {
    padding: 80px 0;
    background-color: #eee;
  }
  .about_me__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
  .about_me-photo {
    width: 70%;
    max-width: 770px;
  }
  .about_me-photo img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .about_me-text {
    background-color: #fefefe;
    padding: 40px;
    width: 50%;
    max-width: 670px;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .about_me-text p {
    margin-bottom: 20px;
  }
  .about_me-text p:last-child {
    margin-bottom: 0;
  }
  .about {
    padding: 80px 0;
  }
  .section__header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .section-title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Raleway-Bold", sans-serif;
    margin: 0 auto;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 15px;
    max-width: 600px;
    position: relative;
  }
  .section-title:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba(252, 109, 61, 0.7);
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 5;
  }
  .section-text {
    font-size: 18px;
    color: #888;
    line-height: 1.4;
    padding-top: 10px;
  }
  .about__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-item {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 35px 15px;
    color: #333;
  }
  .about-item--orange {
    background-color: rgba(252, 109, 61, 0.9);
    color: #eee;
  }
  .about-img {
    display: block;
    width: 75px;
    height: auto;
    margin-bottom: 20px;
  }
  .about-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Raleway-Bold", sans-serif;
    padding-bottom: 20px;
  }
  .about-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Raleway-Light", sans-serif;
  }
  .portfolio {
    padding: 80px 0;
    background-color: #eee;
  }
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
  }
  .portfolio_item {
    width: 32%;
    max-width: 400px;
    margin-bottom: 30px;
    color: #fefefe;
    padding: 0 15px;
  }
  .portfolio-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .portfolio-content {
    background-color: #888;
    padding: 10px 15px;
  }
  .portfolio-cat {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Raleway-Bold", sans-serif;
    line-height: 1.4;
  }
  .cat {
    font-weight: 300;
    font-family: "Raleway-Light", sans-serif;
    text-transform: capitalize;
  }
  .portfolio-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .portfolio-title {
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway-Bold", sans-serif;
    line-height: 1.6;
    padding-right: 10px;
  }
  .portfolio-year {
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway-Bold", sans-serif;
  }
  .contacts {
    padding: 80px 0;
    background-color: #fefefe;
  }
  .contacts__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #333;
  }
  .contacts_list {
    width: 40%;
  }
  .contacts__form {
    width: 60%;
  }
  .form {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    max-height: 456px;
    text-align: left;
    box-shadow: 0 5px 10px #b9b9b999;
  }
  .form-input {
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 2px solid #888;
    outline: 0;
    -moz-appearance: none;
    border-radius: 3px;
    transition: border-color 0.2s linear;
    color: #888;
  }
  .form-input ::placeholder {
    color: #eee;
    font-size: 14px;
  }
  .form-input:focus {
    border-color: #fc6d3d;
  }
  .form-input--file {
    width: 100%;
    background-color: #fefefe;
    overflow: hidden;
  }
  .form-text {
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    min-height: 120px;
    resize: none;
    border: 2px solid #888;
    outline: 0;
    -moz-appearance: none;
    border-radius: 3px;
    transition: border-color 0.3s linear;
    color: #888;
    margin-bottom: 20px;
  }
  .form-text:focus {
    border-color: #fc6d3d;
  }
  .form-text ::placeholder {
    color: #eee;
    font-size: 14px;
  }
  .contact-header {
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway-Bold", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .contact-item {
    position: relative;
    padding-left: 80px;
    margin-bottom: 20px;
  }
  .contact-head {
    font-weight: 400;
    font-family: "Raleway-Regular", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.4;
  }
  .contact-img {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 50px;
  }
  .contact-text {
    font-family: "Raleway-Light", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
    color: #333;
  }
  .footer {
    background-color: #646464;
    color: #fefefe;
  }
  .footer__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: 0 auto;
  }
  .footer-item {
    width: 50%;
    padding-right: 30px;
  }
  .footer_cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-nav,
  .contact {
    width: 50%;
  }
  .footer-title {
    font-weight: 700;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
  }
  .footer-title span {
    color: #fc6d3d;
  }
  .footer-text {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    padding-bottom: 15px;
    font-weight: 300;
    font-family: "Raleway-Light", sans-serif;
    max-width: 500px;
  }
  .nav-bottom li {
    position: relative;
    padding-bottom: 5px;
  }
  .nav-bottom li:before {
    content: "-";
    position: relative;
    left: -5px;
    z-index: 5;
  }
  .nav-bottom li a {
    color: #fefefe;
    transition: color 0.2s linear;
  }
  .nav-bottom li a:hover {
    color: #fc6d3d;
  }
  .bottom-contact li {
    position: relative;
    padding-bottom: 5px;
    padding-left: 30px;
    vertical-align: top;
  }
  .bottom-contact li a {
    color: #fefefe;
    transition: color 0.2s linear;
  }
  .bottom-contact li a:hover {
    color: #fc6d3d;
  }
  .bottom-contact-img {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
  }
  .copy {
    width: 100%;
    padding: 20px 15px;
    background-color: #333;
    color: #eee;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
  @media (max-width: 1231px) {
    .intro-title {
      font-size: 60px;
    }
    .about_me-photo {
      max-width: 670px;
    }
    .about_me-text {
      font-size: 16px;
      padding: 30px;
      max-width: 570px;
    }
  }
  @media (max-width: 991px) {
    .intro {
      min-height: 500px;
    }
    .about-item {
      width: 50%;
      max-width: 450px;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 45px 15px;
    }
    .portfolio__list {
      justify-content: center;
    }
    .portfolio_item {
      width: 50%;
    }
    .contacts_list {
      width: 50%;
    }
    .contacts__form {
      width: 50%;
    }
    .about_me {
      padding-bottom: 150px;
    }
    .about_me-photo {
      width: 100%;
      max-width: 1000px;
    }
    .about_me-text {
      width: 100%;
      left: 50%;
      top: 60%;
      transform: translate3d(-50%, 0, 0);
      max-width: 700px;
    }
  }
  @media (max-width: 769px) {
    body {
      overflow-x: hidden;
    }
    .about_me {
      padding-bottom: 180px;
    }
    .about_me-text {
      font-size: 15px;
      max-width: 550px;
      padding: 20px;
    }
    .header__inner {
      padding: 5px 0;
    }
    .nav {
      display: none;
      padding-top: 0;
      height: 225px;
      margin: 0 auto;
      width: 200px;
      display: block;
      flex-direction: column;
      position: absolute;
      right: -15px;
      top: 100%;
      z-index: 1;
      background-color: rgba(51, 51, 51, 0.9);
      transform: translateY(-280px);
      transition: all 0.2s linear;
    }
    .nav.open {
      display: block;
      transform: translateY(0);
    }
    .nav-link {
      padding: 12px;
      width: 200px;
      text-align: center;
      text-decoration: underline;
      margin-left: 0;
    }
    .nav-link:after {
      display: none;
    }
    .nav-link:hover {
      text-decoration: none;
    }
    .nav-btn {
      display: inline-block;
    }
    .btn {
      font-size: 16px;
      padding: 12px 20px;
    }
    .about_me {
      padding-top: 50px;
    }
    .about {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .about-item {
      width: 100%;
      max-width: 450px;
      margin-bottom: 0;
    }
    .footer-item {
      width: 100%;
      margin: 0 auto;
      max-width: 500px;
      padding-right: 0;
      text-align: center;
    }
    .footer-text {
      width: 100%;
    }
    .footer_cont {
      margin-top: 30px;
    }
    .portfolio {
      padding: 50px 0;
    }
    .portfolio_item {
      width: 100%;
    }
    .contacts {
      padding: 50px 0;
    }
    .contact-img {
      height: 40px;
    }
    .contacts_list {
      width: 50%;
      margin: 0 auto;
      order: 2;
    }
    .contacts__form {
      width: 100%;
      order: 1;
      padding-bottom: 50px;
      max-width: 500px;
      margin: 0 auto;
    }
    .footer-text {
      margin-bottom: 15px;
    }
    .bottom-contact li {
      padding-left: 0;
    }
  }
  @media (max-width: 576px) {
    .intro-title {
      font-size: 36px;
    }
    .intro-subtitle {
      font-size: 16px;
    }
    .portfolio {
      padding-top: 40px;
      padding-bottom: 20px;
    }
    .section-title {
      font-size: 25px;
    }
    .section__header {
      margin-bottom: 20px;
    }
    .section-text {
      font-size: 16px;
    }
    .section-title {
      font-size: 28px;
    }
    .about {
      padding-bottom: 0;
      padding-top: 40px;
    }
    .about_me-text {
      top: 70%;
    }
    .about-item {
      padding: 30px 15px;
    }
    .about-img {
      width: 65px;
      margin-bottom: 15px;
    }
    .about-title {
      font-size: 18px;
      padding-bottom: 10px;
    }
    .form-input {
      font-size: 14px;
      height: 35px;
      margin-bottom: 15px;
    }
    .footer__inner {
      padding-top: 15px;
      padding-bottom: 0;
    }
    .footer-item {
      padding-top: 15px;
    }
    .about_me {
      padding-bottom: 230px;
      min-height: 650px;
      padding-top: 40px;
    }
    .about_me-text {
      max-width: 320px;
      padding: 15px;
      font-size: 14px;
      line-height: 1.2;
    }
    .intro-title {
      font-size: 40px;
    }
    .intro-subtitle {
      font-size: 18px;
    }
    .btn {
      padding: 12px 15px;
      font-size: 15px;
    }
    .contacts {
      padding-top: 40px;
      padding-bottom: 20px;
    }
    .contacts_list {
      width: 100%;
      max-width: 320px;
    }
    .contact-head {
      line-height: 1;
      font-size: 17px;
    }
    .contact-text {
      font-size: 16px;
    }
    .logo {
      font-size: 20px;
    }
    .bottom-contact-img {
      left: 35px;
    }
    .footer_cont {
      justify-content: center;
    }
    .footer-text {
      margin-bottom: 30px;
      padding-bottom: 0;
    }
    .footer__inner {
      padding-top: 30px;
    }
    .footer-item {
      padding-top: 0;
    }
    .footer-nav,
    .contact {
      width: 100%;
      max-width: 320px;
    }
  }
  