// compress: style.css

/* START FONTS
================= */
@font-face {
    font-family: 'Raleway-Regular';
    src        : url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style : normal;
}

@font-face {
    font-family: 'Raleway-Bold';
    src        : url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style : normal;
}

@font-face {
    font-family: 'Raleway-LightItalic';
    src        : url('../fonts/Raleway-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style : italic;
}

/* START VARIABLES
================= */
@black    : #333;
@gray     : #888;
@gray-lite: #eee;
@white    : #fefefe;
@orange   : #fc6d3d;

@textReg : 'Raleway-Regular', sans-serif;
@textBold: 'Raleway-Bold', sans-serif;
@textItal: 'Raleway-LightItalic', sans-serif;

@notebook: ~"(max-width: 1231px)";
@tablet: ~"(max-width: 991px)";
@mobile: ~"(max-width: 769px)";
@phone: ~"(max-width: 576px)";

/* START RESET CSS
================= */
body {
    font-size             : 15px;
    color                 : @gray;
    font-weight           : 400;
    font-family           : @textReg;
    -webkit-font-smoothing: antialiased;
    background-color      : @white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

a,
button {
    text-decoration      : none;
    background-attachment: none;
    cursor               : pointer;
    font-family          : 'Raleway', sans-serif;
    border: 0;
    &:focus {
        outline: 0;
    }
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

/* START HEADER
================= */

.header {
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
    width: 100%;

}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    font-size: 24px;
    font-family: @textBold;
    font-weight: 700;
    cursor: pointer;
    color: @gray-lite;
    transition: color .2s linear;
    span {
        color: @orange;
    }

}

.nav {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.nav-link {
    display: inline-block;
    color: @gray-lite;
    font-size: 15px;
    margin-left: 20px;
    transition: color .2s linear;
    position: relative;
    text-transform: uppercase;

    &:hover,
    &.active {
        color: @orange;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        background-color: @orange;
        bottom: -5px;
        left: 0;
        z-index: 5;
        width: 0;
        height: 2px;
        transition: width .2s linear;
    }

    &:hover:after {
        width: 100%;
    }
}

.nav-btn {
    display: none;
    width: 40px;
    height: 40px;
    font-size: 0;
    color: transparent;
    background-color: @black;
    padding: 6px;

    svg {
        fill: @orange;
        width: 100%;
        height: auto;
        transition: fill .2s linear;
    }

    &:hover,
    &.active {
        svg {
            fill: @gray-lite;
        }
    }
}

/* START INTRO
================= */

.intro {
    background: url("../images/intro_bg.jpg")
    center no-repeat;
    background-size: cover;
    min-height: 768px;
    height: 100vh;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(@black, 0.8);
    }
}

.intro__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.intro-title {
    font-size: 74px;
    line-height: 1.2;
    color: @gray-lite;
    font-weight: 700;
    font-family: @textBold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.intro-subtitle {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color: @gray-lite;
    margin-bottom: 70px;

    span {
        color: @orange;
    }
}

.btn {
    background-color: @orange;
    font-size: 18px;
    padding: 15px 30px;
    color: @gray-lite;
    box-shadow: 0px 0px 5px rgba(@gray);
    font-weight: 400px;
    text-transform: uppercase;
    border: 1px solid @gray;
    transition: background .2s linear;

    &:hover {
        background-color: #d55327;
   
    }
}

/* START SECTION ABOUT
================= */

.about {
    padding: 80px 0;
}

.section__header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.section-title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    font-family: @textBold;
    margin: 0 auto;
    color: @black;
    text-transform: uppercase;
    padding-bottom: 15px;
    max-width: 600px;
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: rgba( @orange , .7);
        position: absolute;
        left: 0;
        bottom: 5px;
        z-index: 5;
    }
}

.section-text {
    font-size: 18px;
    color: @gray;
    line-height: 1.4;
    padding-top: 10px;
}

.about__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.about-item {
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 45px 15px;
    color: @black;
    &--orange {
        background-color: rgba(@orange, 0.9);
        color: @gray-lite;
    }
}

.about-img {
    display: block;
    width: 75px;
    height: auto;
    margin-bottom: 20px;
}

.about-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    font-family: @textBold;
    padding-bottom: 20px;
}

.about-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: @textItal;

}



/* START MEDIA QUARIES!!!
================= */

@import "media";